.headshot {
  display: inline-block;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  box-shadow: 0 0 15px 0 rgba(lighten($accent-dark, 30%), .25);

  &,
  > img {
    border-radius: 100%;
  }

  @include bp(lg) {
    margin-top: 2.5em;
  }

  @include bp(md) {
    margin-bottom: 1em;
  }

  @include bp(sm) {
    margin-top: 2em;
    max-width: 50%;
  }
}
