.headshot {
  display: inline-block;
  text-align: center;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  box-shadow: 0 0 .4em rgba($accent-dark, .75);

  @include bp(lg) {
    max-width: 90%;
  }

  @include bp(md) {
    max-width: 80%;
  }

  @include bp(sm) {
    max-width: 60%;
  }

  @include bp(xs) {
    max-width: 50%;
  }

  > figcaption {
    margin-top: .5em;
  }
}
