.row {
  @extend %clearfix;
  margin-left: -2rem;

  > .column {
    float: left;
    width: 50%;
    padding-left: 2rem;

    @include bp(md) {
      width: 100%;
    }
  }
}

.headshot {
  display: inline-block;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  box-shadow: 0 0 .4em rgba($accent-dark, .75);

  &,
  > img {
    border-radius: 100%;
  }

  @include bp(lg) {
    margin-top: 2.5em;
  }

  @include bp(md) {
    margin-bottom: 1em;
  }

  @include bp(sm) {
    margin-top: 2em;
    max-width: 50%;
  }
}
