// Base styles (e.g. typography)
@import "typography";

html {
  background: $accent-light;
}

::-moz-selection {
  background: $color-primary;
  color: $accent-light;
  text-shadow: none;
}

::selection {
  background: $color-primary;
  color: $accent-light;
  text-shadow: none;
}
