// Base styles (e.g. typography)
@import "typography";

html {
  background: $accent-light;
  font-size: calc(.75em + .35vw);

  /**
   * Box-sizing best-practices from CSS-Tricks.
   * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

noscript {
  margin: 0 !important;
  padding: 1rem;
  border: 2px solid darken(red, 5%);
}

::-moz-selection {
  background: $color-primary;
  color: $accent-light;
  text-shadow: none;
}

::selection {
  background: $color-primary;
  color: $accent-light;
  text-shadow: none;
}

body * + * {
  margin-top: 1.5rem;
}
