.contact {
  input,
  textarea {
    width: 100%;
    font-family: $font-primary;
    border: 1px solid $accent-dark;
    padding: .5rem;

    &:focus {
      outline-color: $color-primary;
    }
  }

  textarea {
    height: 5rem;
  }

  label {
    display: inline-block;
    margin-top: 1rem;
    font-weight: bold;
  }

  input[type="submit"] {
    cursor: pointer;
  }
}
