.contact {
  input,
  textarea {
    width: 100%;
    font-family: $font-primary;

    &:focus {
      outline-color: $color-primary;
    }
  }

  textarea {
    height: 4em;
  }

  label {
    display: inline-block;
    margin-top: 1rem;
  }

  input[type="submit"] {
    cursor: pointer;
  }
}
