footer {
  margin-top: 0;
  padding: 2em;
  background: $accent-dark;
  color: $accent-light;
  text-align: center;

  .heart {
    animation: heartbeat 1.5s infinite;
    fill: red;
  }

  > * + * {
    margin-top: 1.5rem;
  }

  .socials > .btn + .btn {
    margin-left: 2em;
  }
}
