footer {
  margin-top: 0;
  padding: 2em;
  background: $accent-dark;
  color: $accent-light;
  text-align: center;

  .heart {
    animation: heartbeat 1.5s infinite;
    fill: red;
  }

  > * + * {
    margin-top: 1.5rem;
  }

  .btn {
    + .btn {
      margin-left: 2em;
    }

    @media (max-width: map-get($breakpoints, xs)) {
      width: 100%;
      margin-left: 0;

      + .btn {
        margin-top: 1rem;
        margin-left: 0;
      }
    }
  }
}
