.masthead {
  margin: 0;
  height: 100vh;
  background-image: url(https://source.unsplash.com/user/pinjasaur);
  background-color: rgba($accent-dark, .2);
  background-position: center center;
  background-blend-mode: overlay;
  background-size: cover;
  position: relative;

  .view-more {
    color: $accent-light;
    // for debugging
    // background: hotpink;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: .5em;
    margin-bottom: 1em;
    transform: translateX(-50%);
    text-decoration: none;
    animation: bounce 2s infinite;

    .icon {
      width: 3em;
      height: 3em;
    }
  }

  .headers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
    position: relative;
    padding-left: calc((100% - 40%) / 2);

    @media (max-width: map-get($breakpoints, sm)) {
      padding-left: 0;
      justify-content: flex-start;
      text-align: center;

      .headline {
        margin-top: calc((100vh - 60vh) / 2);
      }
    }
  }

  .headline,
  .tagline {
    color: $accent-light;
    text-shadow: 1px 1px 1px $accent-dark;
  }

  .headline {
    margin: 0;
    font-size: 4em;
  }

  .tagline {
    font-size: 1.75em;
  }
}
