.masthead {
  margin: 0;
  height: 100vh;
  background-image: url(//source.unsplash.com/category/technology);
  background-size: cover;

  .headers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
    position: relative;
    padding-left: calc((100% - 40%) / 2);

    @media (max-width: map-get($breakpoints, xs)) {
      .headline {
        margin-top: 1em;
      }
    }

    @media (max-width: map-get($breakpoints, sm)) {
      padding-left: 0;
      justify-content: flex-start;
      .headline {
        margin-top: 2em;
      }
    }
  }

  .headline {
    margin: 0;
    font-size: 4em;
    color: $accent-light;
    text-shadow: 1px 1px 1px $accent-dark;
  }

  .tagline {
    font-size: 1.75em;
  }
}
