main {
  padding: 2rem;
  margin-top: 0;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;

  section + section {
    margin-top: 4rem;
  }

  img {
    height: auto;
    max-width: 100%;
  }

  @include bp(sm) {
    padding: 1rem;
    max-width: 100%;

    section + section {
      margin-top: 2rem;
    }
  }

  @include bp(sm) {
    section > header {
      border-bottom: 2px solid $color-primary;
    }
  }

  header > h2 {
    font-size: 2em;
    position: relative;
    display: inline-block;

    > .icon {
      vertical-align: text-top;
      width: 1em;
      height: 1em;
    }

    @include bp(sm) {
      font-size: 1.75em;
      margin-bottom: 0;
    }

    &:before,
    &:after {
      content: "";
      display: block;
      background: $color-primary;
      width: 100vw;
      height: 10%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @include bp(sm) {
        display: none;
      }
    }

    &:before {
      right: calc(100% + 1em);
    }

    &:after {
      left: calc(100% + 1em);
    }
  }

  p + p {
    margin-top: 1.25rem;
  }

  h2 {
    margin-bottom: .25em;

    & + p {
      margin-top: 0;
    }
  }

  ul {
    list-style-type: square;
  }
}
