main {
  padding: 2rem;
  margin-top: 0;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;

  section + section {
    margin-top: 4rem;
  }

  @media (max-width: map-get($breakpoints, sm)) {
    padding: 1rem;
    max-width: 100%;

    section + section {
      margin-top: 2rem;
    }
  }

  header > h2 {
    position: relative;
    display: inline-block;

    &:before,
    &:after {
      content: "";
      display: block;
      background: $color-primary;
      width: 100vw;
      height: 10%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      @media (max-width: map-get($breakpoints, sm)) {
        display: none;
      }
    }

    &:before {
      right: calc(100% + 1em);
    }

    &:after {
      left: calc(100% + 1em);
    }
  }

  p + p {
    margin-top: 1rem;
  }

  h2 {
    margin-bottom: .25em;

    & + p {
      margin-top: 0;
    }
  }
}
