.portfolio {

  .showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item-container {
      padding: 1em;
      display: flex;
      flex-basis: 50%;

      @media (max-width: map-get($breakpoints, sm)) {
        flex-basis: 100%;
      }
    }

    .item {
      @extend %card;
      font-size: .9rem;
      border-bottom: 3px solid $color-primary;

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }

      &__title {
        font-size: 1.5em;
        margin-bottom: .7em;
      }

      &__subtitle {
        font-size: 1.1em;
        margin-bottom: .2em;
        margin-top: 0;

        + p {
          margin-top: 0;
        }
      }

      &__meta {
        @extend %clearfix;

        .links > * + * {
          margin-left: .5em;
        }
      }
    }
  }
}
