html {
  font-size: calc(.75em + .35vw);
  font-family: $font-primary;
  line-height: 1.5;
  color: lighten($accent-dark, 10%);
  background: $accent-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  color: $accent-dark;
}

pre,
code {
  font-family: $font-tertiary;
}

code {
  /**
   * Evidently these are the same thing, but you need both for browser consistency.
   * https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
   */
  overflow-wrap: break-word;
  word-wrap: break-word;

  padding: .1em .2em;
  border-radius: 2px;
  border: 1px solid darken($accent-light, 25%);
  background: lighten(desaturate($color-primary, 40%), 45%);
  color: darken($color-primary, 5%);
  font-weight: bold;
}

.branded {
  position: relative;
  white-space: nowrap;
  z-index: 0;

  &:after {
    content: "";
    // thanks @Squeaky4377
    background-color: rgba(darken($color-tertiary, 5%), .8);
    display: block;
    width: 100%;
    height: .1em;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 100%;
    transform: rotate(-.5deg);
    box-shadow: 1px 1px 1px 0 rgba($accent-dark, .2);
  }
}

a {
  @include anchor-variant($color-primary);

  // Gotta please our pals across the pond :)
  &.accent--gray,
  &.accent--grey {
    @include anchor-variant(darken($accent-light, 40%));
  }

  &.accent--bare {
    color: currentColor;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

// Drop-cap for first paragraph
section:first-of-type p:first-of-type:first-letter {
  color: $color-primary;
  float: left;
  font-family: $font-secondary;
  font-size: 3.1em;
  line-height: .8;
  padding-top: .13em;
  padding-right: .1em;
}

ul {
  list-style-type: square;

  @include bp(sm) {
    padding-left: 1rem;
  }
}

del {
  opacity: .7;
}

blockquote {
  border-left: .25em solid $color-primary;
  margin-left: 0;
  padding-left: 2em;
}
