@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -10%);
  }
  60% {
    transform: translate(-50%, -5%);
  }
}

@keyframes heartbeat {
  0%, 20%, 50%, 80%, 100% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1.1);
  }
}

@keyframes headliner {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
