@mixin bp($point, $direction: max) {
  @if map-has-key($breakpoints, $point) {
    $point: map-get($breakpoints, $point);
  }

  @media (#{$direction}-width: #{$point}) {
    @content;
  }
}

@mixin anchor-variant($color) {
  &:link {
    color: $color;
  }

  &:visited {
    color: darken($color, 10%);
  }

  &:hover {
    color: lighten($color, 10%);
  }

  &:active {
    color: lighten($color, 10%);
  }
}

@mixin btn-variant($color-from, $color-to) {
  color: $color-from;
  border-color: $color-from;
  background-color: transparent;

  &:hover {
    background: $color-from;
    color: $color-to;
  }
}

@mixin note-variant($color, $icon: "") {
  border-left: 5px solid $color;
  background: lighten($color, 50%);
  position: relative;
  padding-left: 3em;

  @if ($icon != "") {
    &:before {
      content: $icon;
      font-weight: bold;
      font-size: 1.5em;
      color: darken($color, 10%);
      position: absolute;
      margin-left: .5em;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
