.js .is-hidden-js {
  display: none !important;
}

.is-visible-hash {
  display: none;

  &:target {
    display: inherit;
  }

  &.block:target {
    display: block;
  }

  &.inline-block:target {
    display: inline-block;
  }

  &.inline:target {
    display: inline;
  }
}

@each $break, $point in $breakpoints {
  .is-hidden-#{$break} {
    @include bp($break) {
      display: none !important;
    }
  }

  .is-visible-#{$break} {
    @media (min-width: $point) {
      display: none !important;
    }
  }
}

.push-right {
  float: right !important;
}

.push-left {
  float: left !important;
}

.centered-block {
  margin-left: auto;
  margin-right: auto;
}

.centered-content {
  text-align: center;
}
