.js .is-hidden-js {
  display: none !important;
}

.is-visible-hash {
  display: none;

  &:target {
    display: inherit;
  }
}

@each $key, $value in $breakpoints {
  .is-hidden-#{$key} {
    @include bp($key) {
      display: none !important;
    }
  }
}

.push-right {
  float: right;
}

.push-left {
  float: left;
}

.centered-block {
  margin-left: auto;
  margin-right: auto;
}

.centered-content {
  text-align: center;
}
