$color-primary:   #6d14e9;
$color-secondary: #862ffe;
$color-tertiary:  #fff91a;

$accent-dark:  lighten(#000, 3%);
$accent-light: darken(#fff, 3%);

$font-primary:   Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-secondary: Bitter, Georgia, serif;
$font-tertiary:  Inconsolata, Consolas, Monaco, monospace;

$breakpoints: (
  xs: 350px,
  sm: 700px,
  md: 960px,
  lg: 1440px,
  xl: 1920px
);
