.row {
  @extend %clearfix;
  margin-left: -$grid-gutter;

  > [class*="column--"] {
    float: left;
    padding-left: $grid-gutter;
  }

  > .column--half {
    width: 50%;

    @include bp(md) {
      width: 100%;
    }
  }
}
